<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container" id="attendance">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<img src="images/senateflag.gif" class="img-rounded" alt="senateflag" width="84" height="50">
				</div>
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home</a></li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Congress 113<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="senate-starter-page.html">Senate</a></li>
							<li><a href="house-starter-page.html">House</a></li>
						</ul>
					</li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Attendance <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="senate_house-attendance-starter-page.html">Senate</a></li>
							<li class="active"><a href="house_house-attendance.html">House</a></li>
						</ul>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Party Loyalty <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="senate_house-party-loyalty-starter-page.html">Senate</a></li>
							<li><a href="house_house-loyalty.html">House</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<!--------------------------------Table container---------------------------------------------->
		<div class="container" id="app">
			<div class="container-fluid">
				<div class="col-sm-6">
					<h2>Attendance</h2>
					<p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>

					<p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
				</div>

				<div class="col-sm-6">
					<h2>House at a glance</h2>
					<table class="table table-hover">
						<tr>
							<th>Party</th>
							<th>Number of Reps</th>
							<th> % Voted with Prty</th>
						</tr>
						<tr>
							<td>Democrats</td>
							<td>{{numD}}</td>
							<td>{{demo_ptc}}</td>
						</tr>
						<tr>
							<td>Republicans</td>
							<td>{{numR}}</td>
							<td>{{repu_ptc}}</td>
						</tr>
						<tr>
							<td>Independients</td>
							<td>{{numI}}</td>
							<td>0</td>
						</tr>
						<tr>
							<td>Total</td>
							<td>{{numD+numR+numI}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row-sm-12">
				<div>
					<div class="col-sm-6">
						<h2>Least Engaged (Bottom 10% Attendance)</h2>
						<table class="table table-hover">
							<tr>
								<th>Name</th>
								<th>Number of Missed Votes</th>
								<th>% Missed</th>
							</tr>
							<tr v-for="member in mostengade">
								<td><a :href="member.url">{{member.first_name +" "+ member.last_name}}</a></td>
								<td>{{member.missed_votes}}</td>
								<td>{{member.missed_votes_pct}}</td>
							</tr>
						</table>
						<div class="loader" id="loader">
							<div id="myDiv" class="animate-bottom">
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h2>Most Engaged (Top 10% Attendance)</h2>
					<table class="table table-hover">
						<tr>
							<th>Name</th>
							<th>Number of Missed Votes</th>
							<th>% Missed</th>
						</tr>
						<tr v-for="member in leastengade">
							<td><a :href="member.url">{{member.first_name +" "+ member.last_name}}</a></td>
							<td>{{member.missed_votes}}</td>
							<td>{{member.missed_votes_pct}}</td>
						</tr>
					</table>
					<div class="loader" id="loader1" >
						<div id="myDiv1" class="animate-bottom">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container-fluid text-center">
		<h6 class="text-center"> &copy; 2016 | All Rigths Reserved</h6>
		<img src="images/senateflag.gif" class="img-rounded" alt="senateflag" width="74" height="45">
	</footer>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="vue2.js"></script>
</body>

</html>
